*{
	font-family: Verdana;
}

img{
	width: 100px;
	height: 100px;
}

a,a:hover{
	text-decoration: none;
	color: red;
}


.loader {
  width: 100px;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text {
  color: red;
  font-family: arial, sans-serif;
}

.loader-text:after {
  content: 'Carregando';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Carregando';
  }
  33% {
    content: 'Carregando.';
  }
  67% {
    content: 'Carregando..';
  }
  100% {
    content: 'Carregando...';
  }
}

